sudo: required
dist: trusty
addons:
  apt:
    packages:
      - gdb
      - apport
      - libhdf5-serial-dev

language: 
  - python
  - r

cache: packages

compiler:
  - gcc

env:
  - PYTHON_VERSION=3.5 EDITABLE_PIP=1
  - PYTHON_VERSION=3.5 EDITABLE_PIP=0
before_install:
 # https://github.com/springmeyer/travis-coredump/blob/master/.travis.yml
  - ulimit -c
  - ulimit -a -S
  - ulimit -a -H
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
install:
  # linking against libhdf5_cpp fails right now if we do not use this conda environment.
  # it is unclear why at this time.
  - conda create -n test-env --file https://data.qiime2.org/distro/core/qiime2-2017.5-conda-linux-64.txt python=$PYTHON_VERSION
  - source activate test-env
  # needed for the hdf5 dev tools
  - conda install --yes -c conda-forge cython
  - conda install --yes flake8 nose
  - sed -i 's/^CXXBASE=.*/CXXBASE=clang++/' `which h5c++`
  - sed -i 's/^CXXLINKERBASE=.*/CXXLINKERBASE=clang++/' `which h5c++`
  - export CC=`which h5c++`
  # verify both installation methods
  - 'if [ ${EDITABLE_PIP} ]; then
        pip install -e . || travis_terminate 1;
     else
        pip install . || travis_terminate 1;
     fi'
  - pushd sucpp; make test; make main; make api; make capi_test; make rapi_test; popd 
script:
  - ulimit -c unlimited -S
  - pushd sucpp; ./test_su; ./test_api; popd
  - nosetests
  - flake8 unifrac setup.py
  - ./sucpp/ssu
  # santiy test io
  - ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm -m unweighted -n 2
  - python -c "import skbio; dm = skbio.DistanceMatrix.read('ci/test.dm')"
  # merge test
  - ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm.start0.stop3 -m unweighted --mode partial --start 0 --stop 3
  - ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm.start3.stop5 -m unweighted --mode partial --start 3 --stop 5
  - ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm.partial --mode merge-partial --partial-pattern "ci/test.dm.start*"
  - exp=$(md5sum ci/test.dm)
  - obs=$(md5sum ci/test.dm.partial)
  - if [ "${obs}" != "${exp} ]; then exit 1; fi
