sudo: required
dist: trusty
addons:
  apt:
    packages:
      - gdb
      - apport
language: python

compiler:
  - gcc


env:
  - PYTHON_VERSION=3.5
before_install:
 # https://github.com/springmeyer/travis-coredump/blob/master/.travis.yml
  - ulimit -c
  - ulimit -a -S
  - ulimit -a -H
  - cat /proc/sys/kernel/core_pattern
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
install:
  - conda create -n test-env --file https://data.qiime2.org/distro/core/qiime2-2017.5-conda-linux-64.txt python=$PYTHON_VERSION
  - source activate test-env
  # needed for the hdf5 dev tools
  - conda install --yes -c conda-forge hdf5 h5py
  - conda install --yes flake8 nose
  - sed -i 's/^CXXBASE=.*/CXXBASE=clang++/' `which h5c++`
  - sed -i 's/^CXXLINKERBASE=.*/CXXLINKERBASE=clang++/' `which h5c++`
  - pip install -q https://github.com/qiime2/q2lint/archive/master.zip
  - pip install .
  - pushd sucpp; make test; make main; popd 
script:
  - ulimit -c unlimited -S
  - pushd sucpp; ./test_su; popd
  - flake8 q2_state_unifrac setup.py
  - q2lint
  - ./sucpp/ssu
  - for i in $(find ./ -maxdepth 1 -name 'core*' -print); do gdb $(pwd)/sucpp/ssu core* -ex "thread apply all bt" -ex "set pagination 0" -batch; done;
  - ls -lrt
  - qiime state-unifrac unweighted --i-table table.qza --i-phylogeny tree.qza --o-distance-matrix ssu_result.qza --verbose
  - qiime diversity beta-phylogenetic --p-metric unweighted_unifrac --i-table table.qza --i-phylogeny tree.qza --o-distance-matrix sk_result.qza
  - python compare_dms.py ssu_result.qza sk_result.qza
