graft unifrac

include sucpp/*.biom
include sucpp/*.tre

include sucpp/*.cpp
include sucpp/Makefile

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude *.so
global-exclude .*.swp
