name: UniFrac CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]



# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: flake8
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: install dependencies
      run: python -m pip install --upgrade pip
    - name: lint
      run: |
        pip install -q flake8
        flake8 unifrac setup.py
      
  build-and-test:
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:        
        auto-update-conda: true
        python-version: 3.6 
    - name: Install 
      shell: bash -l {0}
      run: |
        if [[ "$(uname -s)" == "Linux" ]];
        then
          sudo apt-get update && sudo apt-get install r-base
          sudo R -e 'install.packages("Rcpp", repos="http://lib.stat.cmu.edu/R/CRAN/")'
        else
          ls -l /Applications/
          # coonda clang does not like xcode 12
          sudo xcode-select --switch /Applications/Xcode_11.7.app
          # the system tools are unusable, hide them
          sudo mv -f /Library/Developer/CommandLineTools /Library/Developer/CommandLineTools.org
        fi
        conda create --yes -n unifrac python=3.6
        conda activate unifrac
        conda config --add channels conda-forge
        conda config --add channels bioconda
        if [[ "$(uname -s)" == "Linux" ]];
        then
          conda install --yes gxx_linux-64=7.5.0
        else
          conda install --yes clangxx_osx-64=10.0.0
        fi 
        conda install --yes cython "hdf5>=1.8.17" biom-format numpy "h5py>=2.7.0" "scikit-bio>=0.5.1" flake8 nose
        conda install --yes mkl-include lz4 hdf5-static
        echo "$(uname -s)"
        if [[ "$(uname -s)" == "Linux" ]];
        then
          which x86_64-conda-linux-gnu-gcc
          x86_64-conda-linux-gnu-gcc -v
          x86_64-conda-linux-gnu-g++ -v
        else
          conda install --yes liblapacke
          which clang
          clang -v
        fi
        which h5c++
        if [[ "$(uname -s)" == "Linux" ]];
        then
          # Enable OpenACC build
          curl -s -S -o nvhpc_2020.tar.gz  https://developer.download.nvidia.com/hpc-sdk/20.9/nvhpc_2020_209_Linux_x86_64_cuda_11.0.tar.gz
          tar xpzf nvhpc_2020.tar.gz
          rm -f nvhpc_2020.tar.gz

          mkdir conda_nv_bins
          (cd conda_nv_bins && for f in \
              ar as c++ cc cpp g++ gcc ld nm ranlib strip; \
           do \
             ln -s `which x86_64-conda-linux-gnu-${f}` ${f}; \
           done )

          PATH=${PWD}/conda_nv_bins:$PATH

          sed -i -e "s#PATH=/#PATH=$PWD/conda_nv_bins:/#g" \
            nvhpc_*/install_components/install 
          sed -i -e "s#PATH=/#PATH=$PWD/conda_nv_bins:/#g" \
            nvhpc_*/install_components/*/*/compilers/bin/makelocalrc
          sed -i -e "s#PATH=/#PATH=$PWD/conda_nv_bins:/#g" \
            nvhpc_*/install_components/*/*/compilers/bin/addlocalrc
          sed -i -e "s#PATH=/#PATH=$PWD/conda_nv_bins:/#g" \
            nvhpc_*/install_components/install_cuda

          export NVHPC_INSTALL_DIR=$PWD/hpc_sdk
          export NVHPC_SILENT=true

          (cd nvhpc_*_x86_64_*; ./install)

          export PATH=\$PATH:`ls -d $PWD/hpc_sdk/*/202*/compilers/bin`
          export ACC_CXX=pgc++
        fi
        pushd sucpp
        make test
        make main
        make api
        make capi_test
        if [[ "$(uname -s)" == "Linux" ]]; 
        then
          make rapi_test
        fi
        popd
        pip install -e .   
            
    - name: Tests
      shell: bash -l {0}
      run: |
        conda activate unifrac
        pushd sucpp
        export UNIFRAC_GPU_INFO=Y
        ./test_su
        ./test_api
        ./test_ska
        popd
        nosetests
        flake8 unifrac setup.py
        
    - name: Sanity checks
      shell: bash -l {0}
      run: |
        conda activate unifrac
        ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm -m unweighted
        python -c "import skbio; dm = skbio.DistanceMatrix.read('ci/test.dm')"
        if [[ "$(uname -s)" == "Linux" ]]; 
        then
          MD5=md5sum
        else
          MD5='md5 -r'
        fi
        ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm.start0.stop3 -m unweighted --mode partial --start 0 --stop 3
        ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm.start3.stop5 -m unweighted --mode partial --start 3 --stop 5
        ./sucpp/ssu -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.dm.partial --mode merge-partial --partial-pattern "ci/test.dm.start*"
        exp=$($MD5 ci/test.dm | awk '{ print $1 }')
        obs=$($MD5 ci/test.dm.partial | awk '{ print $1 }')
        python -c "assert '${obs}' == '${exp}'"
        ./sucpp/faithpd -i unifrac/tests/data/crawford.biom -t unifrac/tests/data/crawford.tre -o ci/test.faith.obs
        tail -n +2 ci/test.faith.obs > ci/test.faith.header-removed.obs
        exp1=$($MD5 unifrac/tests/data/test.faith.exp | awk '{ print $1 }')
        obs1=$($MD5 ci/test.faith.header-removed.obs | awk '{ print $1 }')
        python -c "assert '${obs1}' == '${exp1}'"

        
        
